docker {
	enabled = true
    runOptions = '--volume $HOME:$HOME'
}

process {

    withLabel: philosopher {
        container = 'prvst/philosopher:4.0.0'
        //containerOptions '--volume $HOME:$HOME'
        //errorStrategy 'retry'
    }

    withLabel: msfragger {
        container = 'singjust/msfragger:3.1.1'
    }
    
}