singularity {

	enabled = true
	autoMounts = true

}

process {
	//module = 'singularity'

	withLabel: philosopher {
		executor = 'slurm'
		//queue = 'gpuq' or 'workq'
		//clusterOptions = ''
		container = 'docker://prvst/philosopher:4.0.0'
		//containerOptions = '--volume $HOME:$HOME'
	}

	withLabel: msfragger {
		executor = 'slurm'
		//queue = 'gpuq' or 'workq'
		//clusterOptions = ''
		container = 'docker://singjust/msfragger:3.1.1'
		//containerOptions = '--volume $HOME:$HOME'
	}
}
