
nextflow.enable.dsl=2

params {
    
    input = "001_TPP7-21_C*.mzML"
    outDir = "results"
    proteome_ID = "UP000000589"

}

profiles {
    /*
    slurm {
        includeConfig 'config/slurm.config'
        params.fragger_RAM = 64
    }
    */
    docker {
        includeConfig 'config/docker.config'
        params.fragger_RAM = 4
    }
}