
nextflow.enable.dsl=2

params {
    
    input = "*.mzML"
    outDir = "results"
    db = "${projectDir}/small_peptides_all_quad_samples.fasta"

}

profiles {

    slurm {
        includeConfig 'config/slurm.config'
        params.fragger_RAM = 64
    }

    docker {
        includeConfig 'config/docker.config'
        params.fragger_RAM = 8
    }

}